$black: #2C2738;
$white: #ffffff;
$red: #FF7171;
$grey: #756F86;
$light-grey: #DBE2EA;
$blue: #0880AE;
$dark-blue: #0880AE;
$light-blue: #7C9CBF;
$super-light-blue: #EBF4F8;

$light-orange: #FFBA38;
$light-red: rgba(233, 42, 0, 0.2);
$yellow: #ffee57;
$orange: #FFBA38;
$green: #81d540;
$dark-green: #4fbca2;
$purple: #5c26c8;

$speed: 0.1s;

$tab-width: 67px;
$header-height: 82px;

// $font-Circe: 'Circe', sans-serif;
$font-IBMPlexSans: 'IBMPlexSans', sans-serif;
